<div class="header">
  <div class="header-info">
    <div nz-row class="row">
      <div nz-col nzXs="0" nzLg="12" class="left col">
        <img class="logo" src="../../../assets/image/logo.jpg" alt="明彰logo" />
        <span class="title">{{i18n.t.header.title || '明彰国际快递服务中心（IESC）'}}</span>
      </div>
      <div nz-col nzXs="22" nzLg="12" class="right col">
        <ng-container *ngIf="userInfo.isLogin">
          <span><img [src]="userInfo.userInfo.headimgurl" alt="用户头像"></span>

          <nz-dropdown class="language" nzTrigger="click" [nzClickHide]="false" [(nzVisible)]="userVisible" nzPlacement="bottomRight">
            <a nz-dropdown>
              <span>{{userInfo.userInfo.nickName}}<i class="anticon anticon-down"></i></span>
            </a>
            <ul nz-menu>
              <li nz-menu-item (click)="loginOut()">登出</li>
              <li nz-menu-item>个人中心</li>
            </ul>
          </nz-dropdown>
        </ng-container>
        <ng-container *ngIf="!userInfo.isLogin">
          <span (click)="onWeChatLogin()">{{i18n.t.header.t1||'微信登陆'}}</span>
          <span>{{i18n.t.header.t2||'邮箱登陆'}}</span>
          <span>{{i18n.t.header.t3||'注册'}}</span>
        </ng-container>
        <nz-dropdown class="language" nzTrigger="click" [nzClickHide]="false" [(nzVisible)]="visible" nzPlacement="bottomRight">
          <a nz-dropdown>
            {{i18n.t.header.t4||'语言'}}<i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item (click)="languageChange('ch')">中文</li>
            <li nz-menu-item (click)="languageChange('en')">English</li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzXs="0" nzLg="24" class="header-nav">
      <ul class="clear">
        <li>
          <a routerLink="/home">{{i18n.t.header.t5||'首页'}}</a>
        </li>
        <li>
          <a routerLink="/ordersend">{{i18n.t.header.t6||'我要寄件'}}</a>
        </li>
        <li>
          <a routerLink="/prescription">{{i18n.t.header.t7||'参考时效'}}</a>
        </li>
        <li>
          <a routerLink="/site">{{i18n.t.header.t7||'服务站点'}}</a>
        </li>
        <li>
          <a routerLink="/about">{{i18n.t.header.t8||'关于我们'}}</a>
        </li>
        <li>
          <a routerLink="/send">{{i18n.t.header.t9||'寄件流程'}}</a>
        </li>
      </ul>
    </div>
    <div nz-col nzXs="2" nzLg="0">
      <nz-dropdown>
        <a nz-dropdown>
          <i class="anticon anticon-bars"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a routerLink="/home">{{i18n.t.header.t5||'首页'}}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/ordersend">{{i18n.t.header.t6||'我要寄件'}}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/prescription">{{i18n.t.header.t7||'参考时效'}}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/site">{{i18n.t.header.t7||'服务站点'}}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/about">{{i18n.t.header.t8||'关于我们'}}</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/send">{{i18n.t.header.t9||'寄件流程'}}</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
</div>