<div class="clear w prescription" [ngClass]="{'fadeIn': isloading, 'animated': isloading}">
  <div class="prescription_left left">
    <div class="info">参考时效</div>
    <div class="line"></div>
    <div class="img"><img src="../../../assets/image/banner_prescription.png" alt=""></div>
  </div>
  <div class="prescription_right right">
    <div class="tit">国际快递服务中心 - 全心、全速、全球</div>
    <div class="heaer_info">秉承"快捷、高效、安全"的现代化物流服务理念，为客户提供：专业化、高效能、一站式的丰富完善的投递服务</div>
    <table border="1" cellspacing="0">
      <tr>
        <td colspan="4" class="title">国际快递服务中心参考时效</td>
      </tr>
      <tr>
        <th>区域</th>
        <th>分区</th>
        <th>国家/地区</th>
        <th>时效(工作日)(出仓开始计算)</th>
      </tr>
      <tr>
        <td rowspan="6">亚洲</td>
        <td>1</td>
        <td>澳门</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>2</td>
        <td>韩国等</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>3</td>
        <td>日本</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>缅甸等</td>
        <td>2-4</td>
      </tr>
      <tr>
        <td>5</td>
        <td>印度等</td>
        <td>4-5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>巴基斯坦</td>
        <td>4-5</td>
      </tr>
      <tr>
        <td rowspan="5">美洲</td>
        <td>7</td>
        <td>美国</td>
        <td>2-3</td>
      </tr>
      <tr>
        <td>8</td>
        <td>加拿大</td>
        <td>3-4</td>
      </tr>
      <tr>
        <td>9</td>
        <td>墨西哥</td>
        <td>3-4</td>
      </tr>
      <tr>
        <td>10</td>
        <td>巴拿马等</td>
        <td>5-6</td>
      </tr>
      <tr>
        <td>11</td>
        <td>智利等</td>
        <td>5-6</td>
      </tr>
      <tr>
        <td rowspan="3">欧洲</td>
        <td>12</td>
        <td>德国等</td>
        <td>3-4</td>
      </tr>
      <tr>
        <td>13</td>
        <td>冰岛等</td>
        <td>5-6</td>
      </tr>
      <tr>
        <td>14</td>
        <td>俄罗斯</td>
        <td>5-7</td>
      </tr>
      <tr>
        <td>中东</td>
        <td>15</td>
        <td>阿联酋等</td>
        <td>4-5</td>
      </tr>
      <tr>
        <td rowspan="2">非洲</td>
        <td>16</td>
        <td>埃及等</td>
        <td>4-5</td>
      </tr>
      <tr>
        <td>17</td>
        <td>安哥拉等</td>
        <td>5-6</td>
      </tr>
      <tr>
        <td>大洋洲</td>
        <td>18</td>
        <td>新西兰等</td>
        <td>3-4</td>
      </tr>
    </table>
  </div>
</div>