<div class="clear w">
  <div class="site_left left">
    <div class="info">服务站点</div>
    <div class="line"></div>
    <div class="img"><img src="http://www.mingz-tech.com/static/image/banner_site.png" alt=""></div>
  </div>
  <div class="site right">
    <div class="tit">在线寄件,快速响应,上门取件</div>
    <div class="header_info">国际快递服务中心，已在上海、北京、广东、江苏、浙江、山东等多个省份拥有服务站点，并在多个高校开设面向大学生寄递服务的站点。</div>
    <div class="header_info">我们致力于向客户提供优质安全多元化的快递解决方案。</div>
    <div class="map">
      <img src="http://www.mingz-tech.com/static/image/china.png" alt="">
    </div>
  </div>
</div>