<div class="footer">
  <div class="footer_line"></div>
  <div class="footer_ico"><img src="http://www.mingz-tech.com/static/image/footer_ico.png" alt="footer_ico" /></div>
  <div class="footer_main w">
    <ul class="clear">
      <li class="left item1">
        <div class="tit">帮助支持</div>
        <div class="footer_item">
          <a to="/cn/question">疑难解答</a>
        </div>
        <div class="footer_item">
          <a to="/cn/violate">禁运物品</a>
        </div>
      </li>
      <li class="left item2">
        <div class="tit">关于我们</div>
        <div class="footer_item">
          <a to="/cn/introduce">公司介绍</a>
        </div>
      </li>
      <li class="left item3">
        <div class="tit">联系我们</div>
        <div class="footer_item">服务时间 : 9:00 - 18:00</div>
        <div class="footer_item">服务电话 : 021-34120053</div>
        <!-- <div class="footer_item">加拿大客服热线 : 647-995-2600</div> -->
        <div class="footer_item">地址 : 上海市闵行区泰虹路168弄1号楼302室</div>
        <div class="footer_item">微信号 : IESC007</div>
        <div class="footer_item">QQ : 3187904519</div>
        <div class="footer_item">Email : custom_service@ming-tech.net</div>
        <div class="footer_item">阿里旺旺 : 明彰国际快递服务中心</div>
      </li>
      <li class="right item4">
        <div class="tit">微信公众号</div>
        <div class="img"><img src="http://www.mingz-tech.com/static/image/weChat.jpg" /></div>
      </li>
    </ul>
    <div class="footer_info">All Rights Reserved 上海明彰网络科技有限公司版权所有</div>
    <div class="footer_info">沪ICP备17039232号-1</div>
  </div>
</div>