<div class="home">
  <div class="banner">
    <img src="http://www.mingz-tech.com/static/image/index_banner.jpg" alt="寄件" />
  </div>
  <div class="search">
    <div class="left">
      <div class="icon">
        <img src="http://www.mingz-tech.com/static/image/search.png" alt="">
      </div>
      <div class="text">
        快件查询
      </div>
      <div class="input">
        <input nz-input placeholder="请输入单号进行查询" [(ngModel)]="value">
      </div>
    </div>
    <div class="right">
      <div class="button" (click)="handleOrderSearch()">查询</div>
    </div>
  </div>
  <div class="service">
    <div class="main_hint">
      <div class="main_hint_text"><span class="tit">优势服务</span><span class="line"></span></div>
    </div>
    <div class="service_items">
      <ul class="clear">
        <li class="service_items_item item1 left" nz-col nzLg="6">
          <div class="img"></div>
          <div class="text">服务优势</div>
          <div class="text_item">多元化,多链路,保障快件妥投，一站式寄件体验。</div>
        </li>
        <li class="service_items_item item2 left" nz-col nzLg="6">
          <div class="img"></div>
          <div class="text">性价比高</div>
          <div class="text_item">在保障时效性和安全性的同时，提供更优惠的价格。</div>
        </li>
        <li class="service_items_item item3 left" nz-col nzLg="6">
          <div class="img"></div>
          <div class="text">专业性强</div>
          <div class="text_item">丰富的国际快递从业经验，了解世界各国运输政策。</div>
        </li>
        <li class="service_items_item item4 left" nz-col nzLg="6">
          <div class="img"></div>
          <div class="text">自主灵活</div>
          <div class="text_item">多种快递运输链路，为客户提供多元化的解决方案。</div>
        </li>
      </ul>
    </div>
  </div>
</div>