<div class="home">
  <div class="banner">
    <img src="http://www.mingz-tech.com/static/image/index_banner.jpg" alt="寄件" />
  </div>
  <div class="search">
    <div class="left">
      <div class="icon">
        <img src="http://www.mingz-tech.com/static/image/search.png" alt="">
      </div>
      <div class="text">
        快件查询
      </div>
      <div class="input">
        <input nz-input placeholder="请输入单号进行查询" [(ngModel)]="value">
      </div>
    </div>
    <div class="right">
      <div class="button" (click)="handleOrderSearch()">查询</div>
    </div>
  </div>
  <div>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
    <p>1231</p>
  </div>
</div>