<div class="clear w" [ngClass]="{'fadeIn': isloading, 'animated': isloading}">
  <div class="send_left left">
    <div class="info">关注公众号:</div>
    <div class="img"><img src="../../../assets/image/WeChat.jpg" alt=""></div>
  </div>
  <div class="send right">
    <div class="tit_banner"><img src="../../../assets/image/send_banner.png" alt="寄件banner"></div>
    <div class="title">直邮</div>
    <div class="title_explain">关注“国际快递服务中心公众号”在线寄件，将物品信息、寄件信息填好、准备好物品，等待工作人员上门取件。适用于国内朋友、亲戚将快递寄送到国外。</div>
    <div class="send_header">
      <ul class="clear">
        <li>
          <div class="img"><img src="../../../assets/image/sen.png" alt="寄件渠道"></div>
          <div class="info">寄件渠道:扫码关注"国际快递服务中心"微信公众号,或者拨打客服热线021-34120053,加拿大热线647-995-2600。</div>
        </li>
        <li>
          <div class="img"><img src="../../../assets/image/pay.png" alt="下单方式"></div>
          <div class="info">下单方式:提供线上、线下等多种下单方式,并提供全物流轨迹追踪。</div>
        </li>
        <li>
          <div class="img"><img src="../../../assets/image/revc.png" alt="取件方式"></div>
          <div class="info">取件方式：上门取件【根据您的要求，安排取件时间】，驿站投递等。</div>
        </li>
      </ul>
    </div>
    <div class="title">集运</div>
    <div class="title_explain">将一个两个到多个包裹拼成一个大包裹寄到海外的过程。适用于在中国各大电商平台购买多个物品寄到国外。</div>
    <div class="send_contents send_cargo">
      <ul class="clear">
        <li class="send_info left"><img src="../../../assets/image/send_cargo01.png" alt="关注"></li>
        <li class="send_info left"><img src="../../../assets/image/send_cargo02.png" alt="投递"></li>
        <li class="send_info left"><img src="../../../assets/image/send_cargo03.png" alt="核实信息"></li>
        <li class="send_info left"><img src="../../../assets/image/send_cargo04.png" alt="收货成功"></li>
      </ul>
    </div>
    <div class="send_cargo_img"><img src="../../../assets/image/send_cargo05.png" alt="寄件流程"></div>

    <div class="title">快件处理</div>
    <div class="send_content">
      <ul class="clear">
        <li class="send_info">
          <div class="img"><img src="../../../assets/image/rig.png" alt="确认"></div>
          <div class="info">确认快件品名及包装是否符合运输标准。</div>
        </li>
        <li class="ico">
          <div class="imgs"><img src="../../../assets/image/arr.png" alt="下一步"></div>
        </li>
        <li class="send_info">
          <div class="img"><img src="../../../assets/image/ope.png" alt="检查"></div>
          <div class="info">提供开箱验视服务，多件包裹集中打包。</div>
        </li>
        <li class="ico">
          <div class="imgs"><img src="../../../assets/image/arr.png" alt="下一步"></div>
        </li>
        <li class="send_info">
          <div class="img"><img src="../../../assets/image/fre.png" alt="打包"></div>
          <div class="info">打包加固、更换包装、规避运输风险。</div>
        </li>
        <li class="ico">
          <div class="imgs"><img src="../../../assets/image/arr.png" alt="下一步"></div>
        </li>
        <li class="send_info">
          <div class="img"><img src="../../../assets/image/way.png" alt="运送"></div>
          <div class="info">多种运输方式快递送达更快捷。</div>
        </li>
      </ul>
    </div>

    <div class="title">跟踪反馈</div>
    <div class="send_footer">
      <ul class="clear">
        <li>
          <div class="img"><img src="../../../assets/image/sea.png" alt=""></div>
          <div class="info">在线查询快件全物流轨迹</div>
        </li>
        <li>
          <div class="img"><img src="../../../assets/image/ans.png" alt=""></div>
          <div class="info">专业客服及时反馈关键信息</div>
        </li>
        <li>
          <div class="img"><img src="../../../assets/image/que.png" alt=""></div>
          <div class="info">问题件一对一处理</div>
        </li>
      </ul>
    </div>
  </div>
</div>